body{
    text-align: center;
    background-color: #d6e3ff;

}
#Daniella

{
    width: 30%;
}

#imagem2{
  
}

h1{


  height: 150px;
  
    color: #001A53;
        
  background-color:  #7a9be0;
 
  font-size: 80px;
 
  font-style: negrito;
 
}
h2{
    Color:   #000
}
Footer
